.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.project {
  padding: 3rem;
}

#project {
  background-color: #e2edff;
}

.contact {
  padding: 2rem;
}

#section {
  padding: 4rem;
}
